$path: "../";
$ff: 'Outfit', sans-serif;
$ffs: 'Montserrat', sans-serif;
$fz: 16px;

$white: #fff;
$black: #000;
$main_cl: #6650f0;
$second_cl: #311545;
$text_cl: #1e1b22;

$grid-columns: 12;
$grid-gutter: 20px;
$container-max-width: 1600px;

$space-scale: (
        0: 0,
        1: 4px,
        2: 8px,
        3: 16px,
        4: 24px,
        5: 32px,
        6: 48px
);

$sides: (
        "": "",     // all sides
        "t": "top",
        "r": "right",
        "b": "bottom",
        "l": "left",
        "x": ("left", "right"),
        "y": ("top", "bottom")
);
